@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #1a1a1a; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
}

/* Estilo para contenedores principales */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilo para secciones de pantalla completa */
.full-screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://kamleshyadav.com/html/cycling/version-1/images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
}

/* Estilo para formularios y tarjetas */
.card {
  background: #2a2a2a; /* Fondo de tarjeta oscuro */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.card h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ff8000;
  margin-bottom: 20px;
}

.card input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background: #3a3a3a;
  color: #ffffff;
  font-size: 1rem;
}

.card input:focus {
  outline: none;
  box-shadow: 0 0 5px #f1c40f;
}

.card button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: #ff8000;
  color: #1a1a1a;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.card button:hover {
  background: #ff8000;
}

.card p {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #bbbbbb;
}

.card a {
  color: #ff8000;
  text-decoration: none;
  font-weight: 500;
}

.card a:hover {
  text-decoration: underline;
}

/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.8s ease-out;
}

.flex {
  display: flex;
}

.w-1 {
  width: 25%;
}

.w-3 {
  width: 75%;
}

.bg-gray-800 {
  background-color: #2d3748;
}

.overflow-y-auto {
  overflow-y: auto;
}

.h-full {
  height: 100vh;
}


/* Estilo para el mapa */
#map {
  height: 300px;
  border-radius: 10px;
  margin-top: 20px;
}
/*hola*/